
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
}


<div class="formPos" style="width:400px;height:550px;border:5px solid black;background-color:antiquewhite;">
    <div class="chngBackgrnd" style="padding-left:30px;font-size:30px;text-align:center;width:373px;height:63px;">Password Reset Code</div><br>
    <div style="padding-left:20%;">
        <form action="@Url.Content("~/User/verifyResetCode")" method="post">
            <br /><br /><span><b>Enter Code</b></span><br><br />
            <input type="text" name="txtCode" id="txtLogin" style="width:70%;" autofocus required/><br /><br /><br />
            <br /><span style="color:red;">@ViewBag.msg</span><br />
            <input class="btn" type="submit" name="btnConfirm" value="Confirm" style="width:40%;padding: 8px 10px;">
        </form>

        </div>
    </div>