
@{
   // ViewBag.Title = "UpdatePassword";
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
}

<script>
    $(function(){
        $("#txtOldPasswd").change(function(){
            var oldPwd=$("#txtOldPasswd").val();
            var d={"password":oldPwd};
            var settings={
                type: "POST",
                datatype: "json",
                url: "/User/ValidateUser",
                data: d,
                success: function(res){
                    if(res.valid == false)
                    {
                        alert("Incorrect Old Password!");
                        $("#txtOldPasswd").val("");
                    }
                 },
                 error: function(e){alert("ERR");}

            };//End of settings
            $.ajax(settings);
        });//End of .change function of OldPassword
    ///////////////////////////////////////////////////////////////////////
        $("#btnUpdate").click(function(){
            var pass1=$("#txtNewPasswd").val();
            var pass2=$("#txtConfirmPasswd").val();
            if((pass1==pass2) && pass1!="" && $("#txtOldPasswd").val()!=""){
                location.href="/User/UpdatePassword/?pwd="+pass1;}
            else
            {
                alert("Please Fill all the fields properly");
                $("#txtNewPasswd").val("");
                $("#txtConfirmPasswd").val("");
            }
        });// End of .chaange function of ConfirmPassword

        $("#btnCancel").click(function(){
            $("#txtOldPasswd").val("");
            $("#txtNewPasswd").val("");
            $("#txtConfirmPasswd").val("");
        });

    });//End of ready()

</script>
<h2>UpdatePassword</h2>

<div class="formPos" style="width:368px;height:500px;border:5px solid black;background-color:antiquewhite;">
        <div class="chngBackgrnd" style="padding-left:27px;font-size:30px;text-align:center;width:345px;height:63px;">Update Product</div><br>
        <div style="padding-left:20%;">
            <span><b>Old Password</b></span><br>
            <input type="password" name="txtOldPasswd" id="txtOldPasswd" autofocus required/> <br /><br />
            <span><b>New Password</b></span><br>                        
            <input type="password" name="txtNewPasswd" id="txtNewPasswd" required /> <br /><br />
            <span><b>Confirm Password</b></span><br>
            <input type="password" name="txtConfirmPasswd" id="txtConfirmPasswd" required/> <br /><br />
            <input class="btn" type="button" name="btnUpdate" id="btnUpdate" value="Update" style="width:30%;padding: 5px 8px;">
            <input class="btn" type="button" name="btnCancel" id="btnCancel" value="Cancel" style="width :30%;padding:5px 8px;"><br><br><br>
        </div>
</div>
