@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
}
<div>
<div class="menubase" style="position:relative;" >
    <a class="pos" style="color:darkorchid;padding:2%;" href="@Url.Content("~/User/Login")"><font size="7">Sign In</font></a>
    <a class="pos" style="color:darkorchid;padding:0%" href="@Url.Content("~/User/SignUp")"><font size="7">SignUp</font></a>
</div>
    <h1 style="color:darkred;position:absolute;top:20%;left:20%;"><font size="15">Welcome To Product Managment System</font></h1>
</div>

    

