* {
    margin:0px;
}
body{
	background-color:#e0ffff;
}


.btn {
    background-color: #4CAF50;
    border: none;
    width :10%;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
}

.btnPos
{
	 position: relative;
     left: 10%;
}




div.formPos {
    position: absolute;
    left: 35%;
	top:15%;
}


.chngBackgrnd{
	background-color:black;
	color:white;
}

table.forms{
   position:relative;
   left:10%;
     border-spacing:1px 13px;
 }

#grid {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 40%;
}

#grid td, #grid th {
    border: 1px solid #ddd;
    padding: 8px;
}

#grid tr:nth-child(even){background-color: #f2f2f2;}

#grid tr:hover {background-color: #ddd;}

#grid th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

table.center {
    position: absolute;
    left: 30%;
	top:35%;
}

.menubase
{
    width:100%;
    height:8%;
    background-color:black;
    margin:3px;
}

.pos {
    
    
text-decoration:none;
}